
.menu-logo {
  width: 187px;
  height: 49px;
}
.header-home {
  padding-top: 140px;
}
.header-bg {
  width: 100%;
  height: 1150px;
  position: absolute;
  top:0px;
  z-index: -1;
  background-image: url('./images/home/header-bg.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-bg-page, .header-page {
  height: 900px;
}

.header-bg-header-partners, .header-partners {
  height: 611px;
}

.header-bg-products, .header-page-products {
  height: 1136px;
}

.btn-header-control {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 17px;
	padding-right: 17px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

.header-feature-image {
	text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.header-feature-image img {
	width: 100%;
  height: auto;
}

/**** MENU ****/
.menu-button {
	border-radius: 10px;
	background-color: #fff;
	padding: 12px 18px;
	cursor: pointer;
  text-transform: uppercase;
}

.menu-item .menu-divider {
	width: 2px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: 10px;
	left: 50%;
  transform: translateX(-50%);
	opacity: 0;
	transition: all 0.5s;
}

.menu-item {
	margin-right: 70px;
	cursor: pointer;
	position: relative;
  height: 50px;
}

.arrow {
	border: solid #fff;
  border-width: 0 2px 2px 0;
  display: block;
  padding: 2px;
	transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
	transition-duration: 0.5s;
  transition-property: transform;
}

.menu-item:hover .arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.menu-item:last-child {
	margin-right: 0px;
}

.menu-list-container {
	background-color: #FFFFFF;
	box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 17px;
	position: absolute;
	top: 55px;
	left: -50px;
	overflow: auto;
	width: 370px;
  transition: all 0.25s;
  display: none;
}

.menu-list-container a {
  transition: none;
}

.menu-list-container a p {
  transition: none;
}

.menu-list-container a:hover p{
  color: #0F9CD8 !important;
  opacity: 1 !important;
}

.menu-see-overview {
	background-color: rgba(76, 193, 238, 0.3);
	border-radius: 10px;
	height: 36px;
	text-align: center;
}

.menu-see-overview p {
	line-height: 36px;
}

.menu-list-item-img {
	width: 17px;
	height: 17px;
}

.customer-menu-list,
.product-menu-list,
.library-menu-list,
.company-menu-list
{
  top: 55px;
  opacity: 0;
  z-index: -1;
  display: none;
}

.company-menu:hover .company-menu-list,
.library-menu:hover .library-menu-list,
.product-menu:hover .product-menu-list,
.customer-menu:hover .customer-menu-list  {
  top: 50px;
	opacity: 1;
  z-index: 1;
  display: block;
}

.customer-menu:hover .menu-divider {
  width: 80px;
  opacity: 1;
}

.product-menu-list {
  width: 630px;
}

.product-menu:hover .menu-divider {
  width: 60px;
  opacity: 1;
}

.library-menu-list {
  width: 365px
}

.library-menu:hover .menu-divider {
  width: 60px;
  opacity: 1;
}

.company-menu-list {
  width: 320px;
}

.company-menu:hover .menu-divider {
  width: 80px;
  opacity: 1;
}

.menu-list-container .mark {
  background-color: #fff;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.menu-list-container .mark p {
  color: #fff !important;
}

.header-fixed {
  position:fixed;
  top:0px;
  width: 100%;
  z-index:10; 
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}
/* menu top fixed */
.menu-top-fixed {
  position:fixed !important;
  top: 0px !important;
  width: 100%;
  z-index:10; 
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}
.menu-top-fixed .menu-top-item p,
.menu-top-fixed .menu-top-item h6 {
  color: #000 !important;
}

.menu-top-fixed .menu-item .arrow {
	border-color: #000;
}

.menu-top-fixed  .menu-item:hover .menu-divider {
  background-color: #4CC1EE;
}

.menu-top-fixed  .menu-item:hover .arrow {
	border-color: #4CC1EE;
}

.menu-top-fixed .menu-item:hover .menu-top-item p {
	color: #4CC1EE !important;
}

.menu-top-fixed .menu-button {
  background-color: #4ABFED;
}

.menu-top-fixed .menu-button p,
.menu-top-fixed .menu-button h6 {
  color: #fff !important;
}

.menu-button.talkto-btn-blue {
  background-color: #4ABFED;
}

.menu-button.talkto-btn-blue p {
  color: #fff !important;
}

.section-header {
	padding-top: 111px;
}

.header-fixed-home {
  top: -200px;
  transition: top 0.5s;
}

.fixed-top {
  top:0px !important;
}

.top-header {
  height: 58px;
}

.top-header img {
  height: 35px;
  width: auto;
}

.top-header-img {
  height: 35px;
  width: auto;
}

.menu-top {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
}
.menu-top, .menu-top-container {
  height: 90px;
  transition: background-color 150ms ease;
}

.menu-top-fixed .menu-logo-normal {
  display: none !important;
}

.menu-top-fixed .menu-logo-fixed {
  display: block !important;
}

.menu-fixed {
  position: fixed !important;
  top: 0px !important;
}

.header-page, .header-product {
  padding-top: 111px;
}

.menu-btn {
  background: none !important; 
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.burger {
  background: #fff;
  height: 2px;
  margin: 0 auto;
  position: relative;
  transform: skew(0deg);
  transition: all .275s;
  width: 25px;
  display: block;
}

.burger::after, .burger::before {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  transition: all .275s;
} 

.burger::after {
  transform: translateY(-10px) ;
}

.burger::before {
  transform: translateY(8px) ;
}

.menu-top-fixed .burger, 
.menu-top-fixed .burger::after,
.menu-top-fixed .burger::before,
.menu-mobile .burger, 
.menu-mobile .burger::after,
.menu-mobile .burger::before {
  background-color: #4ABFED;
}

.menu-close-btn .burger::before {
  opacity: 0;
}

.menu-close-btn .burger::after {
  transform: translateY(-2px) rotate(90deg)  !important;
  
}

.menu-close-btn .burger {
  transform: rotate(-45deg);
}

.menu-mobile {
  transition: all 0.25s ;
}


